{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{% static 'index.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body><div class="container">
    <div class="nav-container">
      <div class="logo"><img src="{% static 'logo1.png' %}" alt=""></div>
      <div class="nav-bar">
        <a href="http://127.0.0.1:8000/">Home</a>
        <a href="http://127.0.0.1:8000/learn">Learn</a>
        <a href="http://127.0.0.1:8000/about">About</a>
        <a href="#">More</a>
      </div>
    </div>
    <div class="home">
      <div class="ip">
        <div class="intro">
          <h1>Hi! This Rohail</h1>
          <p>
            Web wizard and coding enthusiast here. Love building cool websites. Let's chat! Drop me an email at rohailrathore10@hotmail.com. 🚀
          </p>
        </div>
      </div>
      <div class="btns">
        <a href="https://github.com/Rohail30">My Github</a>
        <a href="https://www.linkedin.com/in/rohail-rathore-593389133/">My Linkedin</a>
    </div>
    <div class="foot-container">
      <div class="footer">
        <p>Copyright © 2023</p>
        <div class="icons">
          <i class="devicon-facebook-plain"></i> 
          <i class="devicon-github-original"></i>              
          <i class="devicon-linkedin-plain"></i>              
          <i class="devicon-codepen-plain"></i>
        </div>
      </div>
    </div>
  </div></body>
</html>
