{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'index.css' %}"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
    <title>Document</title>
  </head>
  <body>

    <div class="container">
      <div class="nav-container">
        <div class="logo"><img src="{% static 'logo1.png' %}" alt=""></div>
        <div class="nav-bar">
          <a href="http://127.0.0.1:8000/">Home</a>
          <a href="http://127.0.0.1:8000/learn">Learn</a>
          <a href="http://127.0.0.1:8000/about">About</a>
          <a href="#">More</a>
        </div>
      </div>
      <div class="home">
        <div class="ip">
          <div class="intro">
            <h1>Welcome to Django!</h1>
            <p>
              Welcome to our Django learning hub, exclusively designed for
              beginners. Dive into Django, the powerful Python web framework,
              with our expert guidance and resources, and kickstart your web
              development journey!
            </p>
          </div>
          <div class="img">
            <img src="static/work.png" alt="">
          </div>
        </div>
        <div class="btns">
          <a href="http://127.0.0.1:8000/learn">Learn Django!</a>
          <a href="http://127.0.0.1:8000/about">About Me!</a>
      </div>
      <div class="foot-container">
        <div class="footer">
          <p>Copyright © 2023</p>
          <div class="icons">
            <i class="devicon-facebook-plain"></i> 
            <i class="devicon-github-original"></i>              
            <i class="devicon-linkedin-plain"></i>              
            <i class="devicon-codepen-plain"></i>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
